Status/Service References/ServiceReference1/UrlShorteningService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShortenUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortenUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortenUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShortenUrlSoapIn">
    <wsdl:part name="parameters" element="tns:ShortenUrl" />
  </wsdl:message>
  <wsdl:message name="ShortenUrlSoapOut">
    <wsdl:part name="parameters" element="tns:ShortenUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="UrlShorteningServiceSoap">
    <wsdl:operation name="ShortenUrl">
      <wsdl:input message="tns:ShortenUrlSoapIn" />
      <wsdl:output message="tns:ShortenUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UrlShorteningServiceSoap" type="tns:UrlShorteningServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShortenUrl">
      <soap:operation soapAction="http://tempuri.org/ShortenUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UrlShorteningServiceSoap12" type="tns:UrlShorteningServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShortenUrl">
      <soap12:operation soapAction="http://tempuri.org/ShortenUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UrlShorteningService">
    <wsdl:port name="UrlShorteningServiceSoap" binding="tns:UrlShorteningServiceSoap">
      <soap:address location="http://www.dajsve.com/Services/UrlShorteningService.asmx" />
    </wsdl:port>
    <wsdl:port name="UrlShorteningServiceSoap12" binding="tns:UrlShorteningServiceSoap12">
      <soap12:address location="http://www.dajsve.com/Services/UrlShorteningService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>